/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.25rem;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
  color: #333;
}

#textarea > h2 {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.widthContainer {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.imageContainer {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

img {
  max-width: 20rem;
  padding-right: 2rem;
}

.captionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  max-width: 30%;
}

.captionContainer > p {
  font-size: 1rem;
  font-style: italic;
}

.contextContainer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.contextContainer > h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
}

.buttonContainer > button {
  margin-left: 1rem;
  height: 1rem;
}

#textarea {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: column;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

#textarea > p {
  padding-bottom: 1.5rem;
}

input {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: black;
  width: fit-content;
  height: fit-content;
}

#editedText {
  color: lightgray;
}

.misspelled {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.misspelled:hover {
  background-color: #ffcfcb;
}

#suggestionCard {
  background-color: #ffcfcb;
  color: red;
  /* box-shadow: 0 2px 10px rgba(255, 0, 0, 0.403); */
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

#suggestionCard > button {
  color: white;
  background-color: red;
}

#suggestionCard > button:hover {
  background-color: #ffcfcb;
  box-shadow: 0 2px 10px rgba(255, 0, 0, 0.403);
  color: red;
}

#suggestionCard.hidden {
  display: none;
}
