<!DOCTYPE html>
<html>
<meta http-equiv="pragma" content="no-cache" />
<head>
  <title>Alt Text Evaluation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="text-align: center; margin-top: 100px; display: flex; flex-direction: column; align-items: center;">
  <h1 style="margin-bottom: 20px;">
    <img src="https://cdn-icons-png.flaticon.com/512/458/458594.png" style="width: 30px; height: 30px;" alt="Check Icon">
    Attention Check Failed
  </h1>
  <h3>Unfortunately, you did not pass the attention check. Please review the instructions carefully next time. </h3>
  <h3>You may now close the browser.</h3>
</body>


</html>