<!DOCTYPE html>
<html>
<meta http-equiv="pragma" content="no-cache" />
<head>
  <title>Alt Text Evaluation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    let prolificPID;
    window.onload = () => {
        const urlParams = new URLSearchParams(window.location.search);
        prolificPID = urlParams.get('PROLIFIC_PID');
        studyID = urlParams.get('STUDY_PID');
        sessionID = urlParams.get('SESSION_PID');
    };

    async function submitResponse(event) {
        event.preventDefault();

        const selectedOption = document.querySelector('input[name="options"]:checked');
        const isNoneOption = document.getElementById('none-option-link').dataset.selected === 'true';
        if (!selectedOption && !isNoneOption) {
            alert("Please select an option before proceeding.");
            return;
        }

        const responses = {
            prolificPID: prolificPID,
            studyID: studyID,
            sessionID: sessionID,
            img_url: '{{ image_url | escape }}',
            article_name: '{{ article_name | escape }}',
            alttext_type: isNoneOption ? 'none' : selectedOption.value,
            question_count: '{{ question_count }}',
        };

        const response = await fetch('/nextImg', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(responses),
        });

        if (response.redirected) {
          window.location.href = response.url;
        }

    }

    $(document).ready(function() {
      const options = JSON.parse('{{ options | tojson | safe }}');
      console.log(options);
      const isAttentionCheck = '{{ is_attention_check | tojson | safe }}';
      const optionsContainer = $('#optionsContainer');

      options.forEach((option, index) => {
          const optionId = `option${index + 1}`;
          const value = (isAttentionCheck === "true") ? (option.is_correct ? 'correct' : 'incorrect') : option.type;

          const input = $('<input>')
              .attr('type', 'radio')
              .attr('name', 'options')
              .attr('id', optionId)
              .attr('value', value);

          const label = $('<label>')
              .attr('for', optionId)
              .text(option.text);

          optionsContainer.append(input, label, $('<br>'));
      });

      const noneOptionLink = $('<a>')
          .attr('href', '#')
          .attr('id', 'none-option-link')
          .attr('data-selected', 'false')
          .text('None of these options fit')
          .css({ 'font-size': '0.9em', 'color': '#666', 'text-decoration': 'underline', 'cursor': 'pointer', 'padding-bottom': '2rem' });

      noneOptionLink.on('click', function(event) {
          event.preventDefault();
          $(this).attr('data-selected', 'true');
          $('input[name="options"]').prop('checked', false);
          alert('Thank you for your feedback. Please proceed to the next image.');
      });
      optionsContainer.append(noneOptionLink, $('<br>'));

        $('#submit-button').on('click', submitResponse);
        $('#toggle-instructions').on('click', function() {
          $('#instructions-box').toggle();
        });
    });
  </script>
</head>

<body>
  <div class="container">
    <div id="instructions-box" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
      <h2>Alt-Text Criteria:</h2>
      <ol>
        <li><strong>Keep it short and clear:</strong> 1-2 lines of plain text with no acronyms, abbreviations, or jargon.</li>
        <li><strong>Describe what can be seen:</strong> Focus only on what is visible in the image, without adding any personal interpretation, point of view, or research.</li>
        <li><strong>Focus on relevance to the article:</strong> Consider the text around it as context but don’t repeat the text.</li>
        <li><strong>Transcribe words and graphics:</strong> Write out any words in the image, in quotation marks, and summarize the main idea of maps, diagrams, and charts.</li>
        <li><strong>Type of image:</strong> Do not begin with "This is an image of...". If applicable, describe the medium or style of the image.</li>
        <li><strong>Take care with people:</strong> Identify public figures and make sure any description is relevant, apparent, and verifiable.</li>
        <li><strong>Follow standard alt-text conventions:</strong> The alt-text should not start with the phrase “Alt text:”. Simply describe the image itself.</li>
      </ol>

      <p>Once you have reviewed the options, select the one that best follows these rules. Thank you for your participation!</p>
    </div>
    <div class="image-column">
      <img src="{{ image_url }}" alt="Research image">
      <h3>{{ article_name | safe }}</h2>
      <p>{{ context | safe }}</p>
    </div>
    <div class="content-column">
      <div class="form-section">
        <h2>Select the best alt-text for this image</h2>
        <form id="nextImg">
          <div id="optionsContainer"></div>
          <button type="submit" id="submit-button">Next</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
