<!DOCTYPE html>
<html>

<head>
  <title>Alt Text Check</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var suggestionsData = JSON.parse('{{ suggestions|safe }}');
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
  <header>
    <h1>alt text check ✏️</h1>
  </header>
  <div class="imageContainer">
    <img src="{{ image_url }}" alt="Uploaded Image">
    <p>{{ context | safe }}</p>
  </div>
  <div class="widthContainer">
    <form id="textarea" action="{{ url_for('getText')}}" method="post">
      <div class="buttonContainer">
        <h2 contenteditable="true" name="editedText">{{ blip_beam_text | safe }}</h2>
        <button type="submit">submit edit</button>
      </div>
    </form>

    <div id="sidebar">
      <div id="suggContainer">
        <div id="suggestionCard" class="hidden">
          <h3 id="error"></h3>
          <p id="suggestions"></p>
          <button type="submit" class="suggButton">resolve</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>